@tailwind base;
@tailwind components;
@tailwind utilities;

#menu-toggle:checked + #menu {
    display: block;
}

.work-sans {
    font-family: 'Work Sans', sans-serif;
}

.hover\:grow {
    transition: all 0.3s;
    transform: scale(1);
}

.hover\:grow:hover {
    transform: scale(1.02);
}

.wp-block-button__link {
    border-radius: 0;
}

/*---------------------------------------------------
* WooCommerce
----------------------------------------------------*/


/* Home Products Collection 4 column Responsive Tweaks */

@media (max-width: 1024px) {
     
    .is-flex-container.columns-4.wc-block-product-template.wp-block-woocommerce-product-template.is-layout-flow.wp-block-product-template-is-layout-flow li{
       width: 30%;
       margin-right: 0;
       float: none;
    }

     
 }

 @media (max-width: 768px) {

    .is-flex-container.columns-4.wc-block-product-template.wp-block-woocommerce-product-template.is-layout-flow.wp-block-product-template-is-layout-flow li{
        width: 48%;
        margin-right: 0;
        float: none;
    }
}

@media (max-width: 640px) {

    .is-flex-container.columns-4.wc-block-product-template.wp-block-woocommerce-product-template.is-layout-flow.wp-block-product-template-is-layout-flow li{
        width: 100%;
        margin-right: 0;
        float: none;
    }
}

/*---------------------------------------------------
* Comments
----------------------------------------------------*/

/* Style for the comment form */
.comment-form-comment {
    padding: 1rem; /* Padding */
}

/* Style for the label */
.comment-form-comment label {
    display: block; /* Block-level element */
    margin-bottom: 0.25rem; /* Bottom margin */
    font-size: 0.875rem; /* Font size */
    color: #374151; /* Text color */
}

/* Style for the textarea */
.comment-form-comment textarea {
    width: 100%; /* Full width */
    padding: 0.75rem; /* Padding */
    border: 1px solid #ccc; /* Border */
    /* border-radius: 0.375rem; Rounded corners */
    outline: none; /* Remove outline */
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; /* Transition */
}

/* Focus style for the textarea */
.comment-form-comment textarea:focus {
    border-color: #4F46E5; /* Border color on focus */
    box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.1); /* Box shadow on focus */
}

/* Style for the button */
.submit {
    background-color: #7f54b3;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    padding: 0.5rem 1rem; /* Padding */
    font-size: 1rem; /* Font size */
    cursor: pointer; /* Cursor style */
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; /* Transition */
}

/* Hover style for the button */
.submit:hover {
    background-color: #7249a4; /* Background color on hover */
    color: #fff; /* Text color on hover */
}


/*---------------------------------------------------
* Quantity Selector Styling
----------------------------------------------------*/

/* Remove default input styles */
input[type="number"] {
    -moz-appearance: textfield;
  }
  
  /* Safari specific styling */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Base input styles */
  input[type="number"] {
    border: 1px solid #e2e8f0;
    border-radius: 0.375rem;
    padding: 0.5rem 1rem;
    color: #4a5568;
    line-height: 1.25;
    outline: none;
  }
  
  /* Focus styles */
  input[type="number"]:focus {
    border-color: #667eea;
  }
  